{
  "extends": "react-app",
  "rules": {
      "array-callback-return": 0,
      "default-case": 0,
      "dot-location": 0,
      "eqeqeq": 0,
      "new-parens": 0,
      "no-array-constructor": "warn",
      "no-caller": "warn",
      "no-cond-assign": 0,
      "no-const-assign": "warn",
      "no-control-regex": "warn",
      "no-delete-var": "warn",
      "no-dupe-args": "warn",
      "no-dupe-class-members": "warn",
      "no-dupe-keys": "warn",
      "no-duplicate-case": 0,
      "no-empty-character-class": "warn",
      "no-empty-pattern": "warn",
      "no-eval": "warn",
      "no-ex-assign": "warn",
      "no-extend-native": "warn",
      "no-extra-bind": "warn",
      "no-extra-label": "warn",
      "no-fallthrough": "warn",
      "no-func-assign": "warn",
      "no-implied-eval": "warn",
      "no-invalid-regexp": "warn",
      "no-iterator": "warn",
      "no-label-var": 0,
      "no-labels": 0,
      "no-lone-blocks": 0,
      "no-loop-func": 0,
      "no-mixed-operators": 0,
      "no-multi-str": "warn",
      "no-native-reassign": "warn",
      "no-negated-in-lhs": "warn",
      "no-new-func": 0,
      "no-new-object": "warn",
      "no-new-symbol": "warn",
      "no-new-wrappers": 0,
      "no-obj-calls": "warn",
      "no-octal": "warn",
      "no-octal-escape": "warn",
      "no-redeclare": 0,
      "no-regex-spaces": "warn",
      "no-restricted-syntax": 0,
      "no-script-url": 0,
      "no-self-assign": "warn",
      "no-self-compare": 0,
      "no-sequences": 0,
      "no-shadow-restricted-names": 0,
      "no-sparse-arrays": "warn",
      "no-template-curly-in-string": "warn",
      "no-this-before-super": "warn",
      "no-throw-literal": 0,
      "no-undef": 0,
      "no-unexpected-multiline": 0,
      "no-unreachable": 0,
      "no-unused-expressions": 0,
      "no-unused-labels": "warn",
      "no-unused-vars": 0,
      "no-use-before-define": 0,
      "no-useless-computed-key": "warn",
      "no-useless-concat": 0,
      "no-useless-constructor": "warn",
      "no-useless-escape": 0,
      "no-restricted-globals": 0,
      "no-useless-rename": ["warn", {
        ignoreDestructuring: false,
        ignoreImport: false,
        ignoreExport: false,
      }],
      "no-with": "warn",
      "no-whitespace-before-property": "warn",
      "operator-assignment": 0,
      "radix": 0,
      "require-yield": "warn",
      "rest-spread-spacing": ["warn", "never"],
      strict: 0,
      "unicode-bom": ["warn", "never"],
      "use-isnan": "warn",
      "valid-typeof": "warn",
    }
}
